__pycache__/
src/__pycache__/
ramulator2/build
*.pyc
*.pyo
*.pyd
*.csv
*.log
results/
/tmux_status/
src/__pycache__/devices.cpython-310.pyc
src/__pycache__/model.cpython-310.pyc
src/__pycache__/ramulator_wrapper.cpython-310.pyc
src/__pycache__/system.cpython-310.pyc
src/__pycache__/type.cpython-310.pyc
src/__pycache__/config.cpython-310.pyc
src/__pycache__/devices.cpython-310.pyc
src/__pycache__/system.cpython-310.pyc
src/__pycache__/type.cpython-310.pyc
src/__pycache__/config.cpython-310.pyc
src/__pycache__/devices.cpython-310.pyc
